.selectable-row {
  cursor: pointer;
}

.buttonLink {
  text-decoration: none !important;
}

.providerLink:hover {
  text-decoration: underline;
}


::ng-deep {

  .p-button {
    color: #ffffff;
    background: #F7A8B8;
    border: 1px solid #F7A8B8;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
  }

  .p-button:enabled:hover {
    background: #DE97A6;
    color: #ffffff;
    border-color: #DE97A6;
  }

  .p-button:enabled:active {
    background: #DE97A6;
    color: #ffffff;
    border-color: #FBD4DC;
  }
}
