<p *ngIf="!providers"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="providers">
  <thead>
    <tr>
      <th>Provider</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let provider of providers">
      <td>{{ provider.providerName }}</td>
      <td>{{ provider.street }}</td>
      <td>{{ provider.city }}</td>
      <td>{{ provider.state }}</td>
      <td>{{ provider.zipCode }}</td>
    </tr>
  </tbody>
</table>
