@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "primeflex/primeflex.css";

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.tc-inverse{
  background-color: #55CDFC;
  color: white;
}

.tc-normal{
  background-color: white;
  color: #55CDFC;
}

.tc-color{
  color:white;
}
