<div class="p-2 col-12 md:col-4">
  <google-map height="300px" width="100%" [zoom]="zoom" [center]="center" [options]="options"></google-map>
</div>
<div class="p-2 col-12 md:col-4">
  <app-provider-filter (textChange)="onTextChange($event)"></app-provider-filter>
</div>
<div class="p-2 col-12 md:col-4">
  <ng-container *ngIf="(providers$ | async) as providers">
    <p-table [value]="providers">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-wrap">
          <div class="flex flex-grow align-items-center justify-content-center">Providers</div>
          <div class="flex align-items-center justify-content-center">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
              [routerLink]="['/healthProvider']">
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Phone</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-provider>
        <tr class="selectable-row" [routerLink]="['/healthProvider', provider.id]">
          <td>{{ provider.providerName }}</td>
          <td>{{ provider.city }}</td>
          <td>{{ provider.state }}</td>
          <td>{{ provider.zipCode }}</td>
          <td>{{ provider.phone }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="empty">
        No results...
      </ng-template>
    </p-table>
  </ng-container>
</div>
