<p>provider-search works!</p>
<div class="col-12 md:col-4">
  <app-provider-filter (textChange)="onTextChange($event)"></app-provider-filter>
</div>
<ng-container *ngIf="(providers$ | async) as providers">

  <div class="container" *ngIf="providers.length > 0; else noResults">
    <div class="card" *ngFor="let provider of providers">
      <h5 class="card-header">{{ provider.providerName }}</h5>
      <div class="card-body">
        <address class="card-text">
          {{ provider.street }}<br />
          {{ provider.city }}, {{ provider.state }} {{ provider.zipCode }}
        </address>
      </div>
    </div>
  </div>
  <br />

  <ng-template #noResults>
    No results
  </ng-template>
</ng-container>
